html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #1f313b;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 624px;
  width: 100%;
  background: #f8f8f8;
  border-radius: 16px;
  padding: 16px;
}

.person {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__photo {
    max-width: 148px;
    width: 100%;
    max-height: 148px;
    height: 100%;
    margin: 16px;
    border-radius: 50%;
  }
  &__about {
    margin: 16px;
  }
  &__name {
    margin: 0;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
  }
  &__position {
    font-style: italic;
    font-size: 18px;
  }
  &__description-container {
    max-width: 380px;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
  }
  &__network {
    color: #1f313b;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
  }
  &__network:hover {
    color: #e20613;
  }
}

span {
  color: #ed6d05;
}
