@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $blue;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-flip,
.button-flip--back {
  position: absolute;
  color: $green;
  box-shadow: 0 0px 3px rgba(117, 112, 33, 0.466);
  font-size: 1.5rem;
  // width: fit-content;
  width: 38px;
  height: 38px;
  right: 0;
  bottom: 0;
  background: white;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 16px 0;
  &:focus {
    animation: onFocus .8s infinite;
    @keyframes onFocus {
      0% {
        font-size: 1.5rem;
      }
      50% {
        font-size: 1.7rem;
      }
      100% {
        font-size: 1.5rem;
      }
    }
  }
}
.button-flip--back {
  right: -16px;
  bottom: -16px;
}
.card {
  max-width: 624px;
  width: 100%;
  // max-height: 330px;
  // height: 100%;
  height: fit-content;
  // position: relative;
  background: $ivory;
  border-radius: 16px;
  padding: 16px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.person {
  &--front,
  &--back {
    // position: absolute;
    // width: 100%;
    // height: 100%;
    display: flex;
    backface-visibility: hidden;
    transition: transform 0.9s linear 0s;
  }

  /* Front */
  &--front {
    flex-wrap: wrap;
    justify-content: center;
  }
  &__photo {
    max-width: 148px;
    width: 100%;
    max-height: 148px;
    height: 100%;
    margin: 16px 16px 16px 0;
    border-radius: 50%;
    border: 4px double $blue;
  }
  &__about {
    padding: 16px;
  }
  &__name {
    margin: 0;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
  }
  &__position {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    color: $blueGrotto;
    background: linear-gradient(to left, $blueGrotto, $green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  &__description-container {
    max-width: 380px;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
  }
  &__network {
    color: #1f313b;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
  }
  &__network:hover {
    color: $green;
  }
}

/* Back */
.person--back {
  justify-content: space-around;
  transform: rotateY(180deg);
  display: none;
  flex-wrap: wrap;
}
.skills {
  display: flex;
  flex-direction: column;
  &:first-child {
    margin-right: 18px;
  }
  &__header {
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background: $blueGrotto;
      position: absolute;
      left: 0;
      transform: translateY(29px);
    }
  }
  &__list {
    padding: 19px;
    margin: 0;
  }
  &__item {
    list-style: none;
    // text-align: center;
    line-height: 1.5rem;

    // display: flex;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 4px;
    //   height: 4px;
    //   border-radius: 50%;
    //   background: $blueGrotto;
    //   transform: translateX(-15px);
    //   align-self: center;
    // }
  }
}

span {
  color: $blueGrotto;
  // background: linear-gradient(to left, $blueGrotto, $green);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}
